.about {
    width: 700px;
    height: auto;
    background-color: #f5f5f5;
    color: black;
    margin: 50px auto;
    padding: 50px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
}

.about:hover {
    box-shadow: 0 0 10px#949191;
}

.abouttitle {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.aboutcontent {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
    text-justify: inter-word;
 
}

.contact {
    width: 150px;
    height: 150px;
    padding:30px;
}
