

.feedback {
    width: 800px;
    height: auto;
    background-color: bisque;
    font-size: 14px;
    color: black;
    margin: 20px auto;
    padding: 10px;

    text-align: left;
    border-radius: 20px;
}

.feedback-content {

    padding: 10px;
}

.feedback-user {

    padding: 5px 10px;
    text-align: right;
    font-weight: 600;

}

.feedbacktextarea {
    resize: none;
    color: grey;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: bisque;
    

}

.feedbacksubmit {
    background-color: white;
    color: red;
    padding: 15px ;
    border: none;
    border-radius: 15px;
    display: inline-block;
    text-align: right;
}

.form {
    margin-bottom: 50px;
}