body {
    margin: 0px;
    font-size: 16px;
    text-align: center;
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
}
.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.bg-1 {
    background-color: rgba(254, 153, 3, 0.9);
    color: #5e3f02;
    padding: 50px;
    align-items: center;
  }

.bg-2 {
  background-color: #e9eaeddc; 
  color: #7c5301;
  padding: 50px;
}

.bg-3 {
  background-color: #fef1ca; 
  color: #555555;
  padding: 50px;
}

.h2 {
  text-align: center;
}

.h3 {
  text-align: center;
}

.nav-item:hover {
    
    background-color: white;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #fcfcfc;
    
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(253, 253, 253, 0.913), #fef1ca)
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background:  #ee7724;}

   .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724,rgba(254, 153, 3, 0.9), #ee7724, rgba(254, 153, 3, 0.9) );
        }
        
        @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }
