body {
    margin: 0px;
    font-family:'Inter';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.h2 {
  text-align: center;
}

.h3 {
  text-align: center;
}

.button {
    height: 50px;
    width: 100px;
}
.button2 {
    height: 50px;
    width: 100px;
}
.nav-item:hover {
    
    background-color: white;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #fcfcfc;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(242, 242, 241, 0.913), rgba(228, 237, 242, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(253, 253, 253, 0.913), rgba(180, 220, 240, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background:  #ee7724;}

   .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724,rgba(254, 153, 3, 0.9), #ee7724, rgba(254, 153, 3, 0.9) );
        }
        
        @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }